.Window {
    min-height: 100vh;
}

.Sidebar {
    background-color: #DAE1E6;
}

.Appinfo {
    padding: 1.5em;
    margin-top: 1em;
}

.Sidebar-MenuItem {
    padding: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.Sidebar-MenuItem:hover {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.44);
}

.Sidebar-MenuItem-selected {
    color: #F8F8F8;
    background-color: navy;
    padding: 0.8em;
}

.Sidebar-MenuItem-selected:hover {
    cursor: pointer;
}

.Viewport {
    background-color: #F8F8F8;
    box-shadow: -10px 0 10px 1px #D7DCE0;
    padding: 1.5em;
}